@import url('variables.css');
@import url('reset.css');
/* ------------------------------------------------------------------------------------------ */

#body-landpage {
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--color-DarkPurple);
}

/* Cabeçalho */
header {
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

header span {
    font-size: 2rem;
    margin: 0 25px;
}

header button {
    color: var(--color-DarkPurple);
    background-color: var(--text-color);
    padding: 10px;
    font-size: 1.5rem;
    width: 200px;
    border-radius: 200px;
}
/* O Principal */
.container-grid {
    position: relative;
    background-image: linear-gradient(to right, #1f0539, var(--color-Purple)); 
    display: grid;
    grid-template-areas:
    "main   img"
    "main   img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
    height: 825px;
    padding: 20px;
    border-radius: 20px;
}

.container-grid main {
    position: absolute;
    top: 50%;
    grid-area: main;
    margin-left: 25px;
    margin-top: 20px;
    row-gap: 20px;
    color: var(--text-color);
}

.container-grid main span {
    background-color: var(--color-Lilas);
    color: var(--color-DarkPurple);
    padding: 10px;
    border-radius: 50px;
    font-size: 2.5rem;

}

.container-grid h2 {
    margin: 20px 0;
    font-size: 2.5rem;
}

.container-grid p{
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 20px;
}

.container-grid button{
    font-size: 2rem;
    color: var(--color-DarkPurple);
    background-color: var(--text-color);
    padding: 15px;
    width: 400px;
    border-radius: 200px;
}

.container-grid button a{
    color: var(--text-color);
    background-color: var(--color-DarkPurple);
    padding: 5px;
    border-radius: 50%;
}

.container-grid img {
    grid-area: img;
}

/* Rodapé */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15px;

}

footer a {
    color: var(--text-color);
    font-size: 2rem;
    margin: 0 100px;
}
/* ------------------------------------------------------------------------------------------ */
/* TABULEIRO DE XADREZ */
#tabuleiro-titulo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 3rem;
}


.tabuleiro {
    height: 600px;
    width: 600px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    background-color: #202020;
}

.linha {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.linha:nth-child(odd) .casa:nth-child(odd){
    background-color: #fbfbfb;
}

.linha:nth-child(even) .casa:nth-child(even){
    background-color: #fbfbfb;
}

.casa {
    border: 1px solid black;
}
/* ------------------------------------------------------------------------------------------ */