@import url('variables.css');
@import url('reset.css');
/* ------------------------------------------------------------------------------------------ */

body {
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--color-DarkPurple);
}

/* Cabeçalho */
header {
    grid-area: header;
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

header span {
    font-size: 2rem;
    margin: 0 30px;
}

header button {
    color: var(--color-DarkPurple);
    background-color: var(--text-color);
    padding: 10px;
    font-size: 1.5rem;
    width: 200px;
    border-radius: 200px;
}
/* O Principal */
.container-grid {
    background-image: linear-gradient(to right, #1f0539, var(--color-Purple)); 
    display: grid;
    grid-template-areas:
    "header   header"
    "main   img"
    "main   img"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
}

.container-grid main {
    grid-area: main;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 2.5rem;
    row-gap: 20px;
}

.container-grid main span {
    background-color: var(--color-Lilas);
    color: var(--color-DarkPurple);
    padding: 10px;
    border-radius: 50px;
}

.container-grid img {
    grid-area: img;
}

footer {
    grid-area: footer;
}
/* ------------------------------------------------------------------------------------------ */
/* TABULEIRO DE XADREZ */
#tabuleiro-titulo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 3rem;
}


.tabuleiro {
    height: 600px;
    width: 600px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    background-color: #202020;
}

.linha {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.linha:nth-child(odd) .casa:nth-child(odd){
    background-color: #fbfbfb;
}

.linha:nth-child(even) .casa:nth-child(even){
    background-color: #fbfbfb;
}

.casa {
    border: 1px solid black;
}