@import url('variables.css');
@import url('reset.css');

body {
    background: var(--background);
    color: var(--text-color);
    font-family: var(--font-family);
    height: 100vh;
    max-width: 1140px;
    margin: 0 auto;
}

/* Cabeçalho */
header{
    background-color:  #FF3F00;
    color: var(--text-color-secundary);
    display: flex;
    margin: 0 15px;
    padding: 10px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div span {
    margin-right: 10px;
}

header div a {
    color: var(--text-color-secundary);;
    margin-left: 5px;
}

/* Main e Cards */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px solid rgb(175, 175, 175);
    background-color: white;
    margin: 10px 15px;
    width: 60%;
    justify-content: center;
    position: absolute;
}

main .card {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 320px;
    padding: 5px;
    line-height: 1.5;
}

main img {
    height: 220px;
}

main h2 {
    margin: 20px 0;
}
main .card button {
    background-color: #ff0000;
    border: none;
    color: var(--text-color-secundary);;
    padding: 15px;
    width: 40%;
    margin-top: 20px;
}

/* Aside e seus Sections */
.relative{
    position: relative;
    /* Criado apenas para poder ajustar o main e o aside sem que quebre o site quando for diminuido */
}

aside {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    margin: 10px 15px;
    width: 35%;
    justify-content: center;
    position: absolute;
    right: 0%;
    top: 0;
}

aside section h2 {
    background-color: white;
    border: 1px solid rgb(175, 175, 175);
    padding: 15px 10px;
    margin-bottom: 10px;
}

aside section .container-1 {
    margin-bottom: 40px;
}

aside section .container-1 .card {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(175, 175, 175);
    background-color: white;
}

aside section .container-1 .card a {
    color: var(--text-color);
    margin: 10px;
}

aside section .container-2 {
    background-color: white;
}

aside section .container-2 .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgb(175, 175, 175);

}

aside section .container-2 .card img {
    padding-bottom: 10px;
}
